# Virtual environments
.venv/
venv/
env/
assets/*.mp4.mp4
assets/*.mp4

# Chroma DB local data
chat_history.db
chroma_data/

# Cache and model files
.cache/
__pycache__/
*.log

# OS files
.DS_Store

# Python build
*.pyc
*.pyo
*.pyd
*.dll

#.env file ignore
.env